body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  

  nav {
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #555;
  }
  

  .nav-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #45a049;
  }
  

  @media (min-width: 768px) {
    nav {
      flex-direction: row-reverse;
    }
  }

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section img {
    width: 50%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

#Contact {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  #Contact h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #Contact form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #Contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #Contact input[type="text"],
  #Contact input[type="email"],
  #Contact input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #Contact button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  #Contact button:hover {
    background-color: #45a049;
  }

  ul {
    list-style-type: disc; 
    margin: 0; 
    padding: 0; 
  }
  
  
  li {
    margin-bottom: 10px; 
  }